<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Boos & Booze</title>

    <link rel="icon" href="favicon.ico">

    <!-- CSS Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/birthday.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/1862d76cdb.js" crossorigin="anonymous"></script>

    <!-- Bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">Boos & Booze</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#photo-booth">Photo Booth</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#planner">Planner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#invite">Invite</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="home-section" id="title">

        <div class="container-fluid">

            <!-- Title -->

            <div class="row">

                <div class="col-lg-6">
                    <h1 class="big-heading">Plan your Birthday and invite your friends to have a good time together Virtually!</h1>
                </div>

                <div class="col-lg-6">
                    <img class="title-image" src="../images/bimage.png" alt="Happy Birthday">
                </div>

            </div>
        </div>

    </section>


    <!-- Photo Booth Section -->

    <section class="photo-booth-section" id="photo-booth">

        <div class="container-fluid">

            <h1 style="color: rgb(102, 4, 102); font-size: 50px; font-weight: bold; padding-top: 2rem;">PHOTO BOOTH</h1>

            <img class="photo-booth-img" src="../images/photo-booth-img.jpg" alt="photo-booth">
            <br>
            <button class="snap-btn">Snap!</button>
        </div>

    </section>


    <!-- Invite Section -->

    <section class="invite-section" id="invite">
        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-6">
                    <img class="icard-image" src="../images/invite.png" alt="Invitation Card">
                </div>

                <div class="col-lg-6 invite-body">
                    <h1>Send your invites!</h1>
                    <br>
                    <button class="snap-btn">Send!</button>
                </div>

            </div>
        </div>

    </section>


    <!-- Call to Action -->

    <section class="last-section" id="cta">

        <div class="container-fluid">
            <h3 class="big-heading">Find the True Love of Your Dog's Life Today.</h3>
            <button class="btn btn-lg btn-dark download-button" type="button"> <i class="fab fa-apple"></i> Download</button>
            <button class="btn btn-lg btn-light download-button" type="button"> <i class="fab fa-google-play"></i> Download</button>
        </div>
    </section>


    <!-- Footer -->

    <footer class="white-section" id="footer">

        <div class="container-fluid">
            <i class="social-icon fab fa-facebook-f"></i>
            <i class="social-icon fab fa-twitter"></i>
            <i class="social-icon fab fa-instagram"></i>
            <i class="social-icon fas fa-envelope"></i>
            <p>© Copyright 2021 Hacky</p>
        </div>
    </footer>


</body>

</html>